# Assignment 4
## Data Science Tools I
### Professor: Don Dalton

---

### Student: Duncan Ferguson

The questions in this notebook all relate to the same sets of data, linked on the Canvas assignment page. Each question walks through various manipulations of the data, each in multiple parts. These are designed to review the topics covered in week 3 and many parts (there are some exceptions) can be answered with just one or a few lines of code.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

# Question 1 - Data Cleaning

## Part (a)
### 3 points

Use `pd.read_csv` to read the `cereals_data.csv` file into a DataFrame called `cereals_data`. If you are using Google Colab, uploaded files reside in the root folder `/content/`. If you are using a local file, provide the path to the file relative to the folder your notebook is in.

Print the dimensions (shape) of the data frame and output the first 5 rows to take a look at what sort of information we're dealing with.

In [10]:
cereals_data = pd.read_csv('cereals_data.csv')
cereals_data.head()

,unnamed:,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vitamins,Shelf,Weight,Cups,Rating
0,NaN,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,NaN,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,NaN,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,NaN,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,NaN,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

If you take a close look at this .csv file, you will find that some column names as well as some of the categorical values have extra whitespace on the left- and/or right-hand sides. For example, the column index `unnamed: ` has a space after the colon.

Strip the whitespace off of the column names by using `cereals_data.columns.str.strip()`. The `.str.strip()` method can be applied to values within individual columns as well. Apply this method to the columns `Name`, `Manuf`, and `Type`. (Even if you print the first 5 rows again, it may not be immediately clear if you have successfully stripped the whitespace until you start accessing particular values.)

In [11]:
# Stripping the white space from the headers. Printing test before and after
print([len(word) for word in cereals_data.columns])
cereals_data.columns = cereals_data.columns.str.strip()
print([len(word) for word in cereals_data.columns])

manuf = cereals_data['Manuf'].to_list()
print(sum([len(word) for word in manuf])/len(manuf))

# Stripping the white space from columns Name, Manuf and Type
cereals_data['Name'] = cereals_data['Name'].str.strip()
cereals_data['Manuf'] = cereals_data['Manuf'].str.strip()
cereals_data['Type'] = cereals_data['Type'].str.strip()

manuf = cereals_data['Manuf'].to_list()
print(sum([len(word) for word in manuf])/len(manuf))

[10, 4, 5, 4, 8, 7, 3, 6, 5, 5, 6, 6, 8, 5, 6, 4, 6]
[8, 4, 5, 4, 8, 7, 3, 6, 5, 5, 6, 6, 8, 5, 6, 4, 6]
2.0
1.0

## Part (b) 
### 3 points


The `unnamed:` column is not very useful, so permanently drop that column. 

Additionally, to follow the pattern of abbreviations, rename `Calories` to `Cal` and `Vitamins` to `Vit`. (This can be done in one line.) 

Again output the data frame dimensions and the first five rows to confirm these changes. Successfully performing these changes should demonstrate that the extraneous whitespace in the columns was removed.

In [12]:
cereals_data.drop(columns = ['unnamed:'], inplace=True)
cereals_data.rename(columns={"Calories":"Cal","Vitamins":"Vit"}, inplace=True)
cereals_data.head()

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

## Part (c)

### 3 points


Print the unique values in the columns `Manuf`, `Type`, and `Shelf`. You should find that there are 7 unique characters for `Manuf`, 'C' and 'H' for `Type`, and 1, 2, and 3 for `Shelf`.

In [23]:
cereals_data['Manuf'].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [24]:
cereals_data.Manuf.unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [25]:
cereals_data.Type.unique()

array(['C', 'H'], dtype=object)

In [26]:
cereals_data['Type'].unique()

array(['C', 'H'], dtype=object)

In [27]:
cereals_data.Shelf.unique()

array([3, 1, 2], dtype=int64)

In [28]:
cereals_data['Shelf'].unique()

array([3, 1, 2], dtype=int64)

Change the `Type` column such that it uses 'cold' and 'hot' instead of 'C' and 'H' respectively. Output the first five rows to confirm this change.

In [29]:
cereals_data["Type"].replace({"C":"Cold", "H":"Hot"}, inplace=True)
cereals_data.head()

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
0,100%_Bran,N,Cold,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,100%_Natural_Bran,Q,Cold,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,All-Bran_with_Extra_Fiber,K,Cold,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,Almond_Delight,R,Cold,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

# Question 2 - Indexing

## Part (a)
### 5 points

Use the `iloc` method to select the 5th and 7th rows of `cereals_data`. Note that indexes start at 0, so the 5th row, for example, is at index 4.

"Select" simply means let the notebook run this command and then output the result to the screen to view the contents.

In [31]:
cereals_data.iloc[[4, 6]]

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
4,Almond_Delight,R,Cold,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843
6,Apple_Jacks,K,Cold,110,2,0,125,1.0,11.0,14.0,30.0,25,2,1.0,1.00,33.174094

Now select the same two rows using the `loc` method, but additionally select the all the columns between `Type` through `Carbo`, inclusive.

In [32]:
cereals_data.loc[[4, 6], ["Type", "Carbo"]]

   Type  Carbo
4  Cold   14.0
6  Cold   11.0

Now make the exact same selection as above (with the columns from `Type` to `Carbo`), but using `iloc` once again.

In [33]:
cereals_data.iloc[[4,6],[2,8]]

   Type  Carbo
4  Cold   14.0
6  Cold   11.0

Use the square bracket syntax (not using `loc` nor `iloc`) to select the first 10 rows and the columns `Protein`, `Sodium`, and `Carbo`.

In [34]:
cereals_data[["Protein", "Sodium", "Carbo"]][:10]

   Protein  Sodium  Carbo
0        4     130    5.0
1        3      15    8.0
2        4     260    7.0
3        4     140    8.0
4        2     200   14.0
5        2     180   10.5
6        2     125   11.0
7        3     210   18.0
8        2     200   15.0
9        3     210   13.0

Use `iloc` to select the first five rows.

In [35]:
cereals_data.iloc[:6]

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
0,100%_Bran,N,Cold,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
1,100%_Natural_Bran,Q,Cold,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
3,All-Bran_with_Extra_Fiber,K,Cold,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
4,Almond_Delight,R,Cold,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843
5,Apple_Cinnamon_Cheerios,G,Cold,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.0,0.75,29.509541

## Part (b)

### 3 points


Use boolean indexing to select the rows with a value of `Cal` greater than 100.

In [40]:
cereals_data[cereals_data['Cal'] > 100]

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
1,100%_Natural_Bran,Q,Cold,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.00,1.00,33.983679
4,Almond_Delight,R,Cold,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.00,0.75,34.384843
5,Apple_Cinnamon_Cheerios,G,Cold,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.00,0.75,29.509541
6,Apple_Jacks,K,Cold,110,2,0,125,1.0,11.0,14.0,30.0,25,2,1.00,1.00,33.174094
7,Basic_4,G,Cold,130,3,2,210,2.0,18.0,8.0,100.0,25,3,1.33,0.75,37.038562
10,Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12.0,35.0,25,2,1.00,0.75,18.042851
11,Cheerios,G,Cold,110,6,2,290,2.0,17.0,1.0,105.0,25,1,1.00,1.25,50.764999
12,Cinnamon_Toast_Crunch,G,Cold,120,1,3,210,0.0,13.0,9.0,45.0,25,2,1.00,0.75,19.823573
13,Clusters,G,Cold,110,3,2,140,2.0,13.0,7.0,105.0,25,3,1.00,0.50,40.400208
14,Cocoa_Puffs,G,Cold,110,1,1,180,0.0,12.0,13.0,55.0,25,2,1.00,1.00,22.736446
15,Corn_Chex,R,Cold,110,2,0,280,0.0,22.0,3.0,25.0,25,1,1.00,1.00,41.445019
17,Corn_Pops,K,Cold,110,1,0,90,1.0,13.0,12.0,20.0,25,2,1.00,1.00,35.782791
18,Count_Chocula,G,Cold,110,1,1,180,0.0,12.0,13.0,65.0,25,2,1.00,1.00,22.396513
19,Cracklin'_Oat_Bran,K,Cold,110,3,3,140,4.0,10.0,7.0,160.0,25,3,1.00,0.50,40.448772
21,Crispix,K,Cold,110,2,0,220,1.0,21.0,3.0,30.0,25,3,1.00,1.00,46.895644
24,Froot_Loops,K,Cold,110,2,1,125,1.0,11.0,13.0,30.0,25,2,1.00,1.00,32.207582
25,Frosted_Flakes,K,Cold,110,1,0,200,1.0,14.0,11.0,25.0,25,1,1.00,0.75,31.435973
27,"Fruit_&_Fibre_Dates,_Walnuts,_and_Oats",P,Cold,120,3,2,160,5.0,12.0,10.0,200.0,25,3,1.25,0.67,40.917047
28,Fruitful_Bran,K,Cold,120,3,0,240,5.0,14.0,12.0,190.0,25,3,1.33,0.67,41.015492
29,Fruity_Pebbles,P,Cold,110,1,1,135,0.0,13.0,12.0,25.0,25,2,1.00,0.75,28.025765
31,Golden_Grahams,G,Cold,110,1,1,280,0.0,15.0,9.0,45.0,25,2,1.00,0.75,23.804043
33,Grape-Nuts,P,Cold,110,3,0,170,3.0,17.0,3.0,90.0,25,3,1.00,0.25,53.371007
34,Great_Grains_Pecan,P,Cold,120,3,3,75,3.0,13.0,4.0,100.0,25,3,1.00,0.33,45.811716
35,Honey_Graham_Ohs,Q,Cold,120,1,2,220,1.0,12.0,11.0,45.0,25,2,1.00,1.00,21.871292
36,Honey_Nut_Cheerios,G,Cold,110,3,1,250,1.5,11.5,10.0,90.0,25,1,1.00,0.75,31.072217
37,Honey-comb,P,Cold,110,1,0,180,0.0,14.0,11.0,35.0,25,1,1.00,1.33,28.742414
38,Just_Right_Crunchy__Nuggets,K,Cold,110,2,1,170,1.0,17.0,6.0,60.0,100,3,1.00,1.00,36.523683
39,Just_Right_Fruit_&_Nut,K,Cold,140,3,1,170,2.0,20.0,9.0,95.0,100,3,1.30,0.75,36.471512
40,Kix,G,Cold,110,2,1,260,0.0,21.0,3.0,40.0,25,2,1.00,1.50,39.241114
42,Lucky_Charms,G,Cold,110,2,1,180,0.0,12.0,12.0,55.0,25,2,1.00,1.00,26.734515
44,"Muesli_Raisins,_Dates,_&_Almonds",R,Cold,110,4,3,95,3.0,16.0,11.0,170.0,25,3,1.00,1.00,37.136863
45,"Muesli_Raisins,_Peaches,_&_Pecans",R,Cold,150,4,3,150,3.0,16.0,11.0,170.0,25,3,1.00,1.00,34.139765
46,Mueslix_Crispy_Blend,K,Cold,160,3,2,150,3.0,17.0,13.0,160.0,25,3,1.50,0.67,30.313351
48,Nut&Honey_Crunch,K,Cold,120,2,1,190,0.0,15.0,9.0,40.0,25,2,1.00,0.67,29.924285
49,Nutri-Grain_Almond-Raisin,K,Cold,140,3,2,220,3.0,21.0,7.0,130.0,25,3,1.33,0.67,40.692320
51,Oatmeal_Raisin_Crisp,G,Cold,130,3,2,170,1.5,13.5,10.0,120.0,25,3,1.25,0.50,30.450843
52,Post_Nat._Raisin_Bran,P,Cold,120,3,1,200,6.0,11.0,14.0,260.0,25,3,1.33,0.67,37.840594
58,Raisin_Bran,K,Cold,120,3,1,210,5.0,14.0,12.0,240.0,25,2,1.33,0.75,39.259197

Use boolean indexing again to select rows with calories greater than 120, but additionally only the rows that also meet the condition that the `Manuf` is 'K'.

In [43]:
cereals_data[(cereals_data['Cal'] > 120) & (cereals_data['Manuf'] == 'K')]

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
39,Just_Right_Fruit_&_Nut,K,Cold,140,3,1,170,2.0,20.0,9.0,95.0,100,3,1.30,0.75,36.471512
46,Mueslix_Crispy_Blend,K,Cold,160,3,2,150,3.0,17.0,13.0,160.0,25,3,1.50,0.67,30.313351
49,Nutri-Grain_Almond-Raisin,K,Cold,140,3,2,220,3.0,21.0,7.0,130.0,25,3,1.33,0.67,40.692320

Select the same rows as above (calories > 120 and manufacturer being 'K'), but using the `query` method.

`query` was not covered in class, so here is a [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) to the corresponding documentation. Simply put, `query` behaves just like boolean indexing, but uses a slightly more succinct syntax in string format.

In [45]:
cereals_data.query('Cal>120 & Manuf=="K"')

,Name,Manuf,Type,Cal,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vit,Shelf,Weight,Cups,Rating
39,Just_Right_Fruit_&_Nut,K,Cold,140,3,1,170,2.0,20.0,9.0,95.0,100,3,1.30,0.75,36.471512
46,Mueslix_Crispy_Blend,K,Cold,160,3,2,150,3.0,17.0,13.0,160.0,25,3,1.50,0.67,30.313351
49,Nutri-Grain_Almond-Raisin,K,Cold,140,3,2,220,3.0,21.0,7.0,130.0,25,3,1.33,0.67,40.692320

# Question 3 - Combining Data

## Part (a)

### 2 points


Read the .csv file `cereal_names.csv` as a data frame called `cereal_names` and output the first five rows.

In [ ]:
cereal_names = pd.read_csv("ceral_names.csv")

Create a new data frame called `cereals_data2` that combines (joins) `cereals_data` with `cereal_names` horizontally, placing `cereal_names` on the right. Output the first five rows and last 10 columns to confirm the resulting combined data frame. (Remember that negative indexes wrap around to the end of an array-like structure.)

## Part (b)

### 4 points


Read the .csv file `more_cereals_data.csv` as a data frame called `more_cereals_data`. As we did with `cereals_data.csv`, strip the column names of extraneous whitespace, and same for the columns `Name`, `Manuf`, and `Type`.

Output the first five rows to get a look at the data.

Create a new data frame called `cereals_data3` that combines (appends) `cereals_data2` with `more_cereals_data` vertically, placing `more_cereals_data` below `cereals_data2`. To avoid duplicating indexes, make sure that indexes are ignored when appending.

Output the last 10 rows to confirm the resulting combined data frame. (You should see that `Cal`, `Vit`, `Calories`, and `Vitamins` are all present since the additional data frame did not use the abbreviated terms you applied earlier. This is an intentional result.)

## Part (c)

### 4 points


Check for any missing values in `cereals_data3` by computing for each column how many values are null.

Iterate over the columns of `cereals_data3`. For each numeric column, fill in the missing (null) values of the column with the column's mean. For each categorical (non-numeric) column, fill in the missing values using the "forward fill" method.

To check if a column's data type is numeric, you may import the top-level function `is_numeric_dtype` and provide a specific column. The import statement is provided below:

```python
from pandas.api.types import is_numeric_dtype
```

## Part (d)

### 6 points

Pandas provides two types of "cut" methods. One is `cut` and the other `qcut`. `cut` will separate data (such as a column in a DataFrame) into bins based on the values of the data, where the bins are equally spaced. `qcut` will separate the data into bins such that each bin has (roughly) equal number of entities in each bin. For example, a normal bell-curved dataset split into 3 bins should have most values placed in the middle bin when using `cut`, whereas `qcut` using a value of 3 for `q` ("q" referring to the more common "quartile" with a value of 4) would instead adjuct the range of each bin to make it so each one has almost equal number of values.

Use the `Cal` column of `cereals_data3` to demonstrate this difference. Cut the data using `cut` with 3 bins and the labels `low`, `moderate`, and `high`. Do the same thing with `qcut` with the same labels and a value of 3 for `q`. Print out the `value_counts()` table for each type of cut to see the results.

Combine the two counts of each cut into a single data frame with one column called `cut` and the other `qcut`, each with counts for the three labels. Then plot a histogram / bar graph displaying the counts side-by-side on the same graph.

## Part (e)

### 5 points


Write a method called `standardize` that takes in a data frame and a list of columns. The method should create and return a data frame that contains only the numeric columns from the given data frame that are provided in the columns list, but in a standardized form. (You may find it easiest to start with an initially empty data frame and add columns to it.) This standardized form is called a "z-score" and can be computed as follows:

$$
z = \frac{x-\bar{x}}{s}
$$

where $x$ is the original value, $\bar{x}$ is the mean of the values in that column, and $s$ is the standard deviation of values in that column.

Call `standardize` by giving it the `cereals_data3` data frame and the columns `Carbo`, `Sugars`, `Potass`, `Vit`, and `Name`. (`Name` is not a numeric column, so it should not show up in the resulting data frame, nor should it cause an error.)

Using this standardized data frame, check for outliers by finding any values that are greater than 3. Output for a each column a count of the number of outliers in that column.

# Question 4 - Data Aggregation

All parts in the question will use `cereals_data3` as the data frame to analyze.

## Part (a)

### 3 points


Group the data based on manufacturer and name using `groupby` and compute the mean for the columns `Cal`, `Fat`, `Sodium`, `Fiber`, and `Sugars`.

Produce the same table as the above GroupBy example, but using `pivot_table` instead.

Use the `agg` method to compute the min, mean, and max of the columns `Cal`, `Carbo`, and `Sugars`.

## Part (b)

### 3 points


Create a cross tabulation between `Manuf` and `Shelf` using raw frequencies. (If you properly removed whitespace after reading in `more_cereals_data.csv` in Question 3, you should not see any duplicate values for `Manuf` here.)

Using the above crosstab, determine what percentage of cereals on shelf 2 are made by manufacturer 'K'. Your code should compute and output this value as a floating point number.

# Question 5 - Data Visualization

## Part (a)

### 4 points


Create a `plt` figure and set its size in inches (use `set_size_inches`) to 12x8. Add six subplots to this figure, arranged in a 2x3 grid. The x-values for each subplot should come from `Protein`, `Fat`, `Sodium`, `Fiber`, `Carbo`, and `Sugars` respectively. The y-values for all subplots should be the values for `Cal`. Set the x-label (use `set_xlabel`) for each subplot to be its respective column name.

## Part (b)

### 4 points


Use Seaborn to create a scatterplot using `Carbo` vs `Sugars`. Change the hue of the data points based on `Shelf` so that each shelf (1, 2, and 3) has its own color represented in the plot.

Get a list of the unique manufacturers in the data. Create a figure and axes using `subplots` that is 1x7 (for the 7 manufacturers). Set the figure to 2x14 inches.

For each manufacturer, use Seaborn to create a scatterplot displaying `Carbo` vs `Sugars` for each subplot based on each manufacturer. (You can pass an AxesSubplot object to a Seaborn scatterplot using the `ax` parameter.) You should have 7 subplots, each corresponding to a particular manufacturer displaying the correlation between `Carbo` and `Sugar` for that manufacturer's cereal.