In [12]:
import pandas as pd
import numpy as np

## Import the data from a website :

For each question below please have the output showing that the command worked. This will help our TA grade your homeworks faster which I am sure that he will appreciate.

Note : loading the data take a little while, so don't panic ;)

In [13]:
# URL containing the data
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Online_Retail/Online_Retail.csv'

# Read in the csv file from a website
df_retail = pd.read_csv(url, encoding = 'latin1')

# Show the first 5 entries of the dataframe
df_retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [14]:
#Checking the dimensions of our data
df_retail.shape

(541909, 8)

### 1) Change the column InvoiceNo to OrderNo and make it the indices for the dataframe. Drop the column InvoiceDate

In [16]:
#Change column InvoiceNo to OrderNo
df_retail.rename(columns={'InvoiceNo':'OrderNo'}, inplace=True)
df_retail.head(1)

,OrderNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom

### 2) Find the average amount people spent per country regardless of item, the average number of items sold per country and the total number of each item ordered.

In [ ]:
#Average amount spent across all items
df_retail['Amount_Spent'] = df_retail['UnitPrice']*df_retail['Quantity']
pd.DataFrame(df_retail.groupby('Country')['Quantity'].mean())

In [63]:
#Average number of items sold per country
pd.DataFrame(df_retail.groupby('Country')['Quantity'].mean())
#Commit

                       Quantity
Country
Australia             66.444003
Austria               12.037406
Bahrain               13.684211
Belgium               11.189947
Brazil                11.125000
Canada                18.298013
Channel Islands       12.505277
Cyprus                10.155949
Czech Republic        19.733333
Denmark               21.048843
EIRE                  17.403245
European Community     8.147541
Finland               15.346763
France                12.911067
Germany               12.369458
Greece                10.657534
Hong Kong             16.559028
Iceland               13.505495
Israel                14.656566
Italy                  9.961395
Japan                 70.441341
Lebanon                8.577778
Lithuania             18.628571
Malta                  7.433071
Netherlands           84.406580
Norway                17.722836
Poland                10.712610
Portugal              10.651745
RSA                    6.068966
Saudi Arabia           7.500000
Singapore             22.855895
Spain                 10.589814
Sweden                77.136364
Switzerland           15.147353
USA                    3.553265
United Arab Emirates  14.441176
United Kingdom         8.605486
Unspecified            7.399103

In [58]:
#Total number of each item sold worldwide
Num_Items = df_retail.groupby('StockCode')['Quantity'].sum().copy()
pd.DataFrame(Num_Items)

              Quantity
StockCode
10002             1037
10080              495
10120              193
10123C             -13
10123G             -38
...                ...
gift_0001_20        20
gift_0001_30        37
gift_0001_40         3
gift_0001_50         4
m                    1

[4070 rows x 1 columns]

### 3) Remove all rows that contain any missing data, have negative values in Quantity and any rows that have products that cost 10 cents or less, then find all the items that cost 25 cents or less.

In [ ]:
#Dropping rows with missing data

In [ ]:
#Dropping rows with items costing 10 cents or less.

In [ ]:
#Dropping all rows with negative quantities in Quantity column

In [ ]:
#Retrieving all the items that cost 25 cents or less.

### 4) Create two dataframes, one with the data of the United Kingdom and another with the data for France. Then merge the two using the StockCode column and add the suffixes '_UK' to the data from the UK and '_FR' to the data from France

### Please comment on the number of rows that the result has compared to the number of rows the data originally had. Why did the number of rows increase ? What needs to be changed ?

In [ ]:
#Create dataframe with the data from UK


#Create dataframe with the data from France


#Merge both dataframes using StockCode to match the data

### 5) Create 3 labels : low, medium, shop-a-holic for each country based on the total number of good purchased.

In [ ]:
#Bins :

#Labels :

### 6) Create a pivot table for the data.

### The table should provide the total number of products ordered for each product and every country. In other words, each product should have the associated coutries where that product was ordered and have the total number of that product that was ordered for each country.

Congratulations ! You made it to the end of the file. Your reward is a joke:

Q: What do you call a boomerang that doesn’t work?












































A: A stick.